*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  @apply font-body text-black;
  font-weight: 400;
  line-height: 1.75;
}

html {
  font-size: 100%;
}

body {
  @apply bg-white;
}

.kuhrtcodes {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  main {
    position: relative;
    display: flex;
    flex: 1;
  }
}
